
.chart {
    //border: solid;
    //border-width: 1px;
    border-radius: 5px;
/*    div {
        font: 10px sans-serif;
        background-color: steelblue;
        text-align: right;
    }*/
    rect {
        fill: steelblue;
        &:hover {
            fill:  red;
        }
    }

    text {
        fill: black;
        font: 10px sans-serif;
        text-anchor: end;
    }
}

.axis {
    text {
        font: 10px sans-serif;
    }

    path, line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges
    }

.x.axis path {
    display: none;
    }
}

