
.chart {
    //border: solid;
    //border-width: 1px;
    //margin: 30px 10px 10px 0px;
    //padding: 5px;
    border-radius: 5px;
    div {
        font: 10px sans-serif;
        background-color: steelblue;
        text-align: left;
        //padding: 3px;
        //margin: 1px;
        color: white;
    }
    rect {
        fill: steelblue;
    }
    text {
        fill: white;
        font: 10px sans-serif;
        text-anchor: end;
    }
}

.axis {
    text {
        font: 10px sans-serif;
    }

    path, line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges
    }

.x.axis path {
    display: none;
    }
}

