<div class="col-md-12"> 
    <div id="formButtons" class="form-group">
            <a class="btn btn-sm btn-default col-md-offset-1"
            href="/Spots/#{{userName}}">
                <i class="fa fa-list"></i>
                Back to spots list
            </a>
    </div>
    <wait-cursor display-when="busyIndicator"></wait-cursor>
    <h3>Stats for user: {{userName}} spots</h3>
    <h1>Under construction</h1> 
    <img src="/img/underConstruction.jpg" alt="under construction" height="453" width="700"/>
</div>