<div class="col-md-12"> 
    <div id="formButtons" class="form-group form-horizontal">
            <a class="btn btn-sm btn-default"
            href="/Spots/#{{userName}}">
                <i class="fa fa-list"></i>
                Back to spots list
            </a>
            <h4>Spots Stats</h4>
    </div>
    <wait-cursor display-when="busyIndicator"></wait-cursor>
    <div class="col-md-6">
        <table id="sessionsTotalsGrid" st-table="displayedCollection" st-safe-src="sessionsTotals"  
                class="table table-responsive table-striped table-condensed">
                <thead>
                    <tr>
                        <th st-sort="name">Name</th>
                        <th st-sort="sessionsCount" class="rightJustified">Sessions</th>
                        <th st-sort="totalDistance" class="rightJustified">Distance</th>
                        <th st-sort="totalTime" class="rightJustified">Time</th>
                        <th st-sort="maxSpeed" class="rightJustified">Max. Spd.</th>
                        <th st-sort="avgSpeed" class="rightJustified">Avg. Spd.</th>
                        <th st-sort="avgValue" class="rightJustified">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="spotData in displayedCollection">
                        <td class="col-md-2">{{ spotData._id[0].name }}</td>
                        <td class="col-md-1 rightJustified">{{ spotData.sessionsCount }}</td>
                        <td class="col-md-1 rightJustified">{{ spotData.totalDistance | number:2}}</td>
                        <td class="col-md-1 rightJustified">{{ spotData.totalTime | secondsToDateTime | date:'H:mm:ss'}}</td>
                        <td class="col-md-1 rightJustified">{{ spotData.maxSpeed }}</td>
                        <td class="col-md-1 rightJustified">{{ spotData.avgSpeed | number:2}}</td>
                        <td class="col-md-1 rightJustified">{{ spotData.avgValue | number:2}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="numberOfPages"></div>
                        </td>
                    </tr>
                </tfoot>
        </table>
    </div>
    <div class="col-md-6">
    </div>
</div>