<div id="spotForm" class="col-md-12">
    <form novalidate name="spotForm" ng-submit="addItem()" class="form-horizontal">

        <div id="data" class="form-group">
            <div id="dataColumn" class="col-md-5">

                <div id="namesGroup" class="form-group">
                    <div class="col-md-8">
                        <label class="control-label">Name</label>
                        <input class="form-control" type="text" id="name" name="name"
                            ng-model="spot.name"
                            required
                            ng-minlength="3" />
                        <span ng-show="spotForm.name.$error.required"
                            class="text-warning">Valor obligatorio.</span>
                        <span ng-show="spotForm.name.$error.minlength"
                            class="text-warning">Longitud minima de 3 caracteres.</span>
                    </div>

                    <div class="col-md-2">
                        <label class="control-label">Active</label>
                        <input class="form-control" type="checkbox" id="active" name="active"
                            ng-model="spot.active" />
                        <span ng-show="spotForm.active.$error.required"
                            class="text-warning">Valor obligatorio.</span>
                    </div>
                </div>

                <div id="placeGroup" class="form-group">
                    <div class="col-md-10">
                        <label class="control-label">City</label>
                        <input class="form-control" type="text" id="city" name="city"
                            ng-model="spot.city"
                            ng-minlength="3" />
                        <span ng-show="spotForm.city.$error.minlength"
                            class="text-warning">Longitud minima de 3 caracteres.</span>
                    </div>
                </div>

                <div id="placeGroup" class="form-group">
                    <div class="col-md-10">
                        <label class="control-label">Province</label>
                        <input class="form-control" type="text" id="province" name="province"
                            ng-model="spot.province"
                            required
                            ng-minlength="3" />
                        <span ng-show="spotForm.province.$error.required"
                            class="text-warning">Valor obligatorio.</span>
                        <span ng-show="spotForm.province.$error.minlength"
                            class="text-warning">Longitud minima de 3 caracteres.</span>
                    </div>
                </div>

                <div id="placeGroup" class="form-group">
                    <div class="col-md-10">
                        <label class="control-label">Country</label>
                        <input class="form-control" type="text" id="country" name="country"
                            ng-model="spot.country"
                            required
                            ng-minlength="3" />
                        <span ng-show="spotForm.country.$error.required"
                            class="text-warning">Valor obligatorio.</span>
                        <span ng-show="spotForm.country.$error.minlength"
                            class="text-warning">Longitud minima de 3 caracteres.</span>
                    </div>
                </div>

            </div>

            <div id="mapColumn" class="col-md-7">
                <img src="../img/backgrounds/mapa.png" alt="Bowling"
                    class="pull-right img-thumbnail" />
            </div>
        </div>

        <div id="memoGroup" class="form-group">
            <div class="col-md-12">
                <label class="control-label">Observ.</label>
                <textarea class="form-control" cols="80" rows="4" id="comment" name="comment"
                        ng-model="spot.comment"></textarea>
            </div>
        </div>

        <div id="formButtons" class="form-group">
            <a class="btn btn-sm btn-default col-md-offset-1"
            href="/Spots/#{{userName}}">
                <i class="fa fa-list"></i>
                Back to spots list
            </a>
            <a class="btn btn-sm btn-default col-md-offset-1"
            ng-click="newItem(userName)">
                <i class="fa fa-edit"></i>
                New
            </a>
            <a class="btn btn-sm btn-default"
            ng-click="clearItem()">
                <i class="fa fa-eraser"></i>
                Clear
            </a>
            <a class="btn btn-danger btn-sm"
            ng-click="saveItem()"
            ng-disabled="spotForm.$invalid">
                <i class="fa fa-save"></i>
                Save
            </a>
        </div>
    </form>   
    <div class="col-md-12">  
        <wait-cursor display-when="busyIndicator"></wait-cursor>
    </div>
</div>