<div class="col-md-12">   
    <wait-cursor display-when="busyIndicator"></wait-cursor>    
    <table id="sailsGrid" st-table="displayedCollection" st-safe-src="sails"  
            class="table table-responsive table-striped table-condensed">
            <thead>
                <tr>
                    <th><h4>Sails<h4></th>
                    <th st-sort="name">Name</th>
                    <th st-sort="brand">Model</th>
                    <th st-sort="model">Brand</th>
                    <th st-sort="size">Size</th>
                    <th st-sort="mast">Mast</th>
                    <th st-sort="boom">Boom</th>
                    <th st-sort="imcs">IMCS</th>
                    <th st-sort="battens">Battens</th>
                    <th st-sort="cams">Cams</th>
                    <th st-sort="adapter">Adapter</th>
                    <th st-sort="year">Year</th>
                    <th st-sort="purchase">Purchase</th>
                    <th st-sort="price">Price</th>
                </tr>
                <tr>
                    <th colspan="1">
                        <div class="btn-group">
                            <a type="button" class="btn-lg btn-primary center-block" href="#sailsEditor/{{userName}}/0">
                                <i class="glyphicon glyphicon-plus" title="Add new sail"></i>
                            </a>
                        </div>
                    </th>
                    <th colspan="9">
                        <input st-search="" class="form-control" placeholder="type here to search ..." type="text" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sail in displayedCollection">
                    <td class="col-xs-1">
                        <div>
                            <div class="btn-group btn-group-xs btn-group-justified">
                                <a type="button" class="btn-sm btn-info" href="#sailsEditor/{{userName}}/{{sail._id}}">
                                    <i class="glyphicon glyphicon-edit" title="Select"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td class="col-md-2">{{ sail.name }}</td>
                    <td class="col-md-2">{{ sail.model }}</td>
                    <td class="col-md-2">{{ sail.brand }}</td>
                    <td class="col-md-1">{{ sail.size }}</td>
                    <td class="col-md-1">{{ sail.mast }}</td>
                    <td class="col-md-1">{{ sail.boom }}</td>
                    <td class="col-md-1">{{ sail.imcs }}</td>
                    <td class="col-md-1">{{ sail.battens }}</td>
                    <td class="col-md-1">{{ sail.cams }}</td>
                    <td class="col-md-1">{{ sail.adapter }}</td>
                    <td class="col-md-1">{{ sail.year }}</td>
                    <td class="col-md-2">{{ sail.purchase | date : "dd/MM/yyyy"}}</td>
                    <td class="col-md-1">{{ sail.price | currency }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="14" class="text-center">
                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="numberOfPages"></div>
                    </td>
                </tr>
            </tfoot>
    </table>
</div>
