<div class="col-md-12">  
    <wait-cursor display-when="busyIndicator"></wait-cursor>
    <div class="col-md-3">
        <bars chart-data="myData" bar-id="ch-bar-count" bar-data="Count" width="300" height="250"></bars>
    </div>  
    <div class="col-md-3">
        <bars chart-data="myData" bar-id="ch-bar-distance" bar-data="Distance" width="300" height="250"></bars>
    </div>
    <div class="col-md-3">
        <bars chart-data="myData" bar-id="ch-bar-time" bar-data="Time" width="300" height="250"></bars>
    </div>
</div>
<div class="col-md-12"> 
    <div class="col-md-6">
        <pie-chart chart-data="myData" chart-id="ch-pie-distance" chart-data="Time" width="230" height="200"></pie-chart>        
    </div>  
    <!--<div>
        <h3>Main panel for user: @model.user.username</h3>
        <h1>Under construction</h1> 
        <img src="/img/underConstruction.jpg" alt="under construction" height="453" width="700"/>
    </div>-->
</div>