<div id="boardForm" class="col-md-12">
    <wait-cursor display-when="busyIndicator"></wait-cursor>
    <form novalidate name="boardForm" ng-submit="addItem()" class="form-horizontal">

            <div id="namesGroup" class="form-group">
                <div class="col-md-3 col-md-offset-1">
                    <label class="control-label">Name</label>
                    <input class="form-control" type="text" id="name" name="name"
                           ng-model="board.name"
                           required
                           ng-minlength="3" />
                    <span ng-show="boardForm.name.$error.required"
                          class="text-warning">Valor obligatorio.</span>
                    <span ng-show="boardForm.name.$error.minlength"
                          class="text-warning">Longitud minima de 3 caracteres.</span>
                </div>

                <div class="col-md-3">
                    <label class="control-label">Model</label>
                    <input class="form-control" type="text" id="model" name="model"
                           ng-model="board.model"
                           required />
                    <span ng-show="boardForm.model.$error.required"
                          class="text-warning">Valor obligatorio.</span>
                </div>

                <div class="col-md-3">
                    <label class="control-label">Brand</label>
                    <input class="form-control" type="text" id="brand" name="brand"
                           ng-model="board.brand"
                           required />
                    <span ng-show="boardForm.brand.$error.required"
                          class="text-warning">Valor obligatorio.</span>
                </div>
            </div>

            <div id="dimensionsGroup" class="form-group">
                <div class="col-md-1 col-md-offset-1">
                    <label class="control-label">Year</label>
                    <input class="form-control" type="text" id="year" name="year"
                           ng-model="board.year" />
                </div>

                <div class="col-md-1">
                    <label class="control-label">Volume</label>
                    <input class="form-control" id="volume" name="volume"
                            ng-model="board.volume"/>
                </div>

                <div class="col-md-1">
                    <label class="control-label">Length</label>
                    <input class="form-control" id="length" name="length"
                            ng-model="board.length"/>
                </div>

                <div class="col-md-1">
                    <label class="control-label">Width</label>
                    <input class="form-control" id="width" name="width"
                            ng-model="board.width"/>
                </div>
            </div>

            <div id="statesAndDatesGroup" class="form-group">

                <div class="col-md-4 date col-md-offset-1">
                    <label class="control-label">Purchased</label>
                    <div class="input-group input-append date" id="datePicker">
                        <input class="form-control"
                               type="date" id="purchase" name="purchase"
                               required
                               ng-model="board.purchase"/>
                        <span class="input-group-addon add-on">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="col-md-1">
                    <label class="control-label">Price(€)</label>
                    <input class="form-control" type="text" id="price" name="price"
                           ng-model="board.price" />
                </div>

                <div class="col-md-1">
                    <label class="control-label">Used</label>
                    <input class="form-control" type="checkbox" id="secondHand" name="secondHand"
                           ng-model="board.secondHand" />
                </div>

                <div class="col-md-1">
                    <label class="control-label">Active</label>
                    <input class="form-control" type="checkbox" id="active" name="active"
                           ng-model="board.active" />
                    <span ng-show="boardForm.active.$error.required"
                          class="text-warning">Valor obligatorio.</span>
                </div>
            </div>

            <div id="memoGroup" class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <label class="control-label">Observ.</label>
                    <textarea class="form-control" cols="80" rows="4" id="comment" name="comment"
                              ng-model="board.comment"></textarea>
                </div>
            </div>

            <div id="formButtons" class="form-group">
                <a class="btn btn-sm btn-default col-md-offset-1"
                   href="/Materials/Boards/#{{userName}}">
                    <i class="fa fa-list"></i>
                    Back to boards
                </a>
                <a class="btn btn-sm btn-default col-md-offset-1"
                   ng-click="">
                    <i class="fa fa-edit"></i>
                    New
                </a>
                <a class="btn btn-sm btn-default"
                   ng-click="">
                    <i class="fa fa-eraser"></i>
                    Clear
                </a>
                <a class="btn btn-danger btn-sm"
                   ng-click=""
                   ng-disabled="boardForm.$invalid">
                    <i class="fa fa-save"></i>
                    Save
                </a>
            </div>
        </form>     
</div>